.btn2{
    float:right;
}
.cont1{
    width:30vw;
    height: 30vh;
    justify-content: center;
}
.cont2{
    margin:.5em;
    height: 30vh;
}
.table{
    width:30vw;
    height:30vh;
    overflow:auto;
}